<form class="form-container" [formGroup]="loginForm">

  <h2>Login</h2>
  <div class="form-group text-center">
    <mat-form-field>
      <input matInput class="form-control" placeholder="Last Name" formControlName="name">
    </mat-form-field>
  </div>

  <div class="form-group text-center">
    <mat-form-field>
      <input matInput class="form-control" placeholder="Email" formControlName="email">
    </mat-form-field>
  </div>

  <div class="form-group text-center">
    <button mat-raised-button type="submit" color="accent" [disabled]="!loginForm.valid" (click)="login()" mat-dialog-close>Register</button>
  </div>

</form>
